.compliance {
    padding: 4rem 0 2rem;
    background: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 2600px;
    width: 100%;

    @media (min-width: 768px) {
        height: 1100px;
    }    

    .card-cont {
        background: #fafafa;
        border-radius: 1rem;
        padding: 3rem;

        .cont-intro {
            
            p {
                color: #7b7b7b;
            }

        }

        h3 {
            color: #6c6c6c;
            text-align: center;
            margin: 44px 0;
        }

        .accordion {
            background: #ffffff;

            .card {
                border: initial;
                border-bottom: 1px solid rgba(0,0,0,.125);

                .card-header {
                    background-color: transparent;
                    border-bottom: none;

                    button {
                        display: inline-flex;
                        align-items: center;

                        &:not(.collapsed) {

                            span.ico-plus {
                                background-image: url(../images/minus-solid.svg);
                            }

                        }

                        span.ico-plus {
                            display: flex;
                            width: 26px;
                            height: 26px;
                            background-image: url(../images/plus-solid.svg);
                            background-size: cover;
                            background-repeat: no-repeat;
                            margin-right: 1rem;
                        }

                        h5 {
                            color: #004C94;
                            font-weight: 700;
                            font-size: 1.2rem;
                            margin-bottom: 0;
                        }

                    }

                }

                .card-body {

                    p {
                        color: #7b7b7b;
                        font-weight: 500;
                        font-size: .9rem;
                    }

                }

            }

        }

    }
}
