.datos {
    padding: 4rem 0 2rem;
    background: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 900px;
    width: 100%;

    .cont-info {

        img {
            width: 100%;
        }
    }

}
